<h2>Book detail</h2>

<h4>投稿者</h4>
<%= @book.user.name %>
<h4>Title</h4>
<%= @book.title %>
<h4>Opinion</h4>
<%= @book.body %>

<% if @book.user == current_user %>
  <%= link_to "削除", book_path(@book), method: :delete %> |
  <%= link_to "編集", edit_book_path(@book) %>
<% end %>

